img, .img2{
    display: block;
    width: 100%;
    height: auto;
}

picture {
    flex-shrink: 0;
    max-width: 100%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    color: #434455;
    font-family: "Roboto", sans-serif;
}

main {
    flex-grow: 0;
}

.header-class {
    border-bottom: 1px solid #e7e9fc;
    display: flex;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);;
}
.container {
    padding: 0 15px;
    margin: 0 auto; 
    /* width: 1158px; */
    max-width: 320px;
    min-width: 320px;
}
.header-container {
    align-items: center;
    justify-content: space-between;
    align-content: stretch;
    width: 1158px;
    /* margin: 16px 16px 16px; */
    padding-left: 15px;
    padding-right: 15px;
    padding: 0 15px;
    display: flex;
}

ul {
    margin: 0;
    padding: 0;
}

.nav-menu {
    display: flex;
    align-items: center;
}

.logo {
    /* margin-right: 76px; */
       
}

.logo-footer {
    margin: 0 auto;
}

.logo,
.logo-footer {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
}

.address-class {
    font-style: normal;
    display: flex;
    gap: 40px;
}

.logo-span {
    color: #2e2f42;
    text-decoration: none;
}

.logo-span-footer {
    color: rgba(244, 244, 253, 1);
    text-decoration: none;
}

.nav-list {
    list-style: none;
    display: none;
    /* display: flex; */
    gap: 40px;
    align-items: center;
    margin: 0;
    padding-left: 0;
}

.nav-list li a {
    text-decoration: none;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
}
.nav-button,
.contacts-button {
    color: #2e2f42;
    
}

.nav-button:hover,
.nav-button:focus{
    color: #404bbf;
}

.nav-button-studio {
    color: #404bbf;
    position: relative;
    transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-button-studio::after{
    content: '';
    width: 100%;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    position: absolute;
}

.contact-link {
    display: flex;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    
}

.contact-link:hover,
.contact-link:focus,
.contacts-button:hover,
.contacts-button:focus{
    color: #404bbf;
}

.contact-list {
    list-style: none;
    display: none; 
    /* display: flex; */
    gap: 40px;
    margin: 0;
    padding-left: 0;
}

.contact-list li a {
    text-decoration: none;
    color: rgba(67, 68, 85, 1);
    font-weight: 400;
    transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-open {
    border: none;
    background: none;
    justify-content: end;
    align-items: end;
}

.menu-modal.is-open {
    padding: 24px 24px 40px 16px;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    position: fixed;
    z-index: 999;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 640px ;
}

.menu-close {
    border: 1px solid rgba(46, 47, 66, 1);
    background-color: rgba(231, 233, 252, 1);
    opacity: 50%;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-bottom: 24px;
}
.mob-nav-menu{
    margin-bottom: 168px;
    text-decoration: none;
}

.mob-nav-menu :not(:last-child){
text-decoration: none;
margin-bottom: 40px;
}

.mob-nav-list {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.mob-nav-button-studio {
color: rgba(64, 75, 191, 1);
}

.mob-nav-button{
color: rgba(46, 47, 66, 1);
}
.mob-contacts-button {
color: rgba(46, 47, 66, 1);
}
.mob-address-class {
    text-decoration: none;
}

.mob-contact-list {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap ;
    gap: 24px;
    margin-bottom: 48px;
}

.mob-contact-link {
    color: rgba(77, 90, 229, 1);
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
}

.mob-contact-link-tel {
    color: rgba(67, 68, 85, 1);
}

.main-page {
    text-align: center;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/BG\ mobil.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    height: 100%;
    margin: auto;
    padding-bottom: 72px;
}

@media  screen and (-webkit-min-device-pixel-ratio: 2),
 (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
    .main-page{
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/BG\ mobil\ 2x.jpg);
        
    }
}

.main-title {
    /* font-size: 56px */
    font-size: 36px;
    line-height: 40px;
    /* line-height: 1.07; */
    letter-spacing: 0.02em;
    color: #ffffff;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    /* max-width: 496px; */
    /* padding-top: 188px; */
    padding-top: 72px;
    font-weight: 700;
    padding-bottom: 72px;
    font-family: Roboto;
}

.main-button {
    background-color: #4D5AE5;
    color: rgba(255, 255, 255, 1);
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.04em;
    line-height: 1.5;
    cursor: pointer;
    text-align: center;
    height: 56px;
    min-width: 169px;
    font-weight: 500;
    border-radius: 4px;
    border: none;
    margin-right: auto;
    margin-left: auto;
    /* margin-top: 48px; */
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /* margin-bottom: 188px */
}

.block-service {
    /* padding-top: 120px;
    padding-bottom: 120px; */
    padding-top: 96px;
    padding-bottom: 96px;
}

.block-service-div {
    gap: 8px;
}


.list-strategy {
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    /* gap: 24px; */
    gap: 72px;

}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container-benefits {
    display: none;
}

.social-media-icons{ 
    fill: rgba(244, 244, 253, 1);
}

.title-description {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.li-list-strategy {
    margin: 0;
    padding-left: 0;
    gap: 14px;
    /* width: calc((100% - 72px) / 4); */
}

.title-strategy {
    /* font-weight: 500; */
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    color: #2E2F42;
    font-family: Roboto;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    justify-content: center;
}

.text-strategy {
    letter-spacing: 0.02em;
    line-height: 1.5;
    font-family: Roboto;
    color: rgba(67, 68, 85, 1);    
}

.block-service p {
    font-size: 16px;
    color: rgba(67, 68, 85, 1);
}

.block-team {
    background-color: #F4F4FD;
    /* padding-bottom: 120px; */
    padding-bottom: 96px;
    padding-top: 120px;
}

.block-team-title {
    margin-bottom: 72px;
}

.block-team-title,
.title-portfolio {
    color: rgba(46, 47, 66, 1);
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    font-weight: 500;
    line-height: 1.11;
}

.list {
    justify-content: center;
    list-style: none;
    line-height: 1.5;
    letter-spacing: 0.02em;
    flex-wrap: wrap;
    /* gap: 24px; */
    margin: 0;
    padding-left: 0;
    display: flex ;
    gap: 72px;
}

.foto-block {
    background-color: WHITE;
    /* width: calc((100% - 72px) / 4); */
    border-radius: 0px 0px 4px 4px;
    box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}
    
.team-title,
.team-role {
   flex-direction: column; 
    padding-top: 8px;
}

.name-container {
     padding: 32px 0;   
}

.ul-list-benefits {
     display: flex;
    justify-content: center;
    gap: 24px;
}
.mob-ul-list-benefits {
    display: flex;
        justify-content: center;
        gap: 24px;
        align-items: center;
}

.icons-adress-raw{
    width: 40px;
    height: 40px;
    background-color: rgba(77, 90, 229, 1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-adress-raw:hover,
.icons-adress-raw:focus{
    background-color: #404bbf;  
}

.social-media-icons {
    display: flex;
    align-items: center;
    gap: 24px;
}

.list-benefits{
    list-style: none;
    gap: 24px;
}

.team-title {
    background-color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.team-role {
    line-height: 1.5;
    font-size: 16px;
    color: rgba(67, 68, 85, 1);
    background-color: #FFFFFF;
    padding-bottom: 8px;
    text-align: center;
}

.title-portfolio {
    color: rgba(46, 47, 66, 1);
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    font-size: 36px;
    line-height: 1.11;
    margin-bottom: 72px;
}

.block-portfolio {
    /* padding-top: 120px; */
    padding-top: 96px;
    /* padding-bottom: 120px; */
    padding-bottom: 96px;
    display: flex;
}

.description-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.container-option {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.title-portfolio-litle {
    margin-bottom: 8px;
}

.portfolio-list {
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    display: flex;
    gap:48px

}

.block-card {
    position: relative;
    overflow: hidden;
}

.card-benefits {
    position: absolute;
    top: 0;
    background-color:rgba(77, 90, 229, 1);
    transform: translateY(100%);
    left: 0;
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    width: 100%;
    height: 100%;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: rgba(244, 244, 253, 1);
    
}

.li-portfolio-list{
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.li-portfolio-list:hover,
.li-portfolio-list:focus {
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.li-portfolio-list:hover .card-benefits {
    transform: translate(0);
}

.portfolio-list h3 {
    font-size: 18px;
    color: rgba(46, 47, 66, 1);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.footer-block {
    background-color: #2e2f42;
    /* align-content: flex-start; */
    margin-right: auto;
    margin-left: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

.text-footer {
    font-size: 16px;
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
    margin-top: 16px;
    margin-bottom: 72px;
}

.social-media-footer{
    color: WHITE;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.footer-block-items{
    display: flex;
    flex-wrap: wrap;
    /* align-items: baseline ;    */
    /* align-items: center; */
        justify-content: center;
        align-items: center;
}

.list-benefits-footer{
    display: flex;
    list-style: none;
    gap: 16px;
}

.border-benefits-footer {
    background-color: rgba(77, 90, 229, 1);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    gap: 16px;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.border-benefits-footer:hover,
.border-benefits-footer:focus {
    background-color: #31d0aa;
} 

.benefits-footer {
    fill: rgba(244, 244, 253, 1);
    padding-left: 0;
    padding-top: 2px;
}

.footer-box {
    /* margin-right: 120px; */
}

.footer-benefits-block {
    /* margin-right: 80px; */
    margin-bottom: 72px;
}


.title-subscribe {
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    font-weight: 500;
    align-items: center;
}

.form-footer {
    /* display: flex; */
    gap: 24px;
}

.label-subscribe {
    color: WHITE;
}

.email {
    width: 264px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.email:placeholder-shown {
 padding-left: 16px;
 color: #FFFFFF;
}

.subscribe-button {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(77, 90, 229, 1);
    padding: 8px 24px 8px 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:4px ;
    font-weight: 500; 
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: none;
    border-radius: 4px;
    min-width: 165px;
    height: 40px;
    margin-top: 16px;
}

.benefits-subscribe-items {
    background-color: IRIS;
    fill: #FFFFFF;
    margin-left: 16px;
    
}

footer a {
    display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    background-color: rgba(46, 47, 66, 0.4);
    width: 100%;
    height: 100%;
    opacity: 0.5 ;
    visibility: hidden;
    pointer-events: none;
    transition: 
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    padding-top: 72px;
    padding-right: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    background-color: rgba(252, 252, 252, 1);
    position: absolute;
    left: 50%;
    top: 50%;
    width: 408px;
    min-height: 584px;
    transform: translate(-50% , -50%);
    border-radius: 4px;
    box-shadow:
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.title-modal {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    align-items: center;
    font-weight: 500;
    text-align: center;
    color:#2E2F42;
    margin-bottom: 16px;
}

.button-cancel {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color:rgba(231, 233, 252, 1);
    width: 24px;
    height: 24px;
    cursor: pointer;
    padding: 0;
    transition: 
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
}

.button-cancel:hover,
.button-cancel:focus{
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.form-wraper {
    margin-bottom: 8px;
}
        
.svg-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-label {
    display: block;
    font-size: 12px;
    letter-spacing: 0.04em;
    text-align: left;
    margin-bottom: 4px;
    line-height: 1.17;
    color: #8e8f99;
}

.block-input {
    border-radius: 4px;
    border: 1px;
    position: relative;
}

.modal-form-input {
        height: 40px;
        width: 100%;
        top: 18px;
        gap: 0px;
        border-radius: 4px;
        padding-left: 38px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        outline: transparent;
        background-color: transparent;
}

.modal-form-input:focus{
    border-color: rgba(77, 90, 229, 1);
}
 
.modal-icons {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: rgba(46, 47, 66, 1);
    transition: fill  250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-icons {
    fill: rgba(77, 90, 229, 1);
}

.form-wraper-comment {
    margin-bottom: 16px;
}

.form-textarea{
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 100%;
    color: rgba(46, 47, 66, 0.4);
    min-height: 120px;
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    padding: 8px 16px;
}

.form-textarea::placeholder {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
    text-align: left;
}

.form-textarea:focus{
    border-color: #4D5AE5;
}

.form-wraper-end{
    margin-bottom: 24px
}

.div-user-private {
    margin-bottom: 24px;
}

.custom-checkbox{
    width: 16px;
    height: 16px;
    top: 20px;
    left: 20px;
    gap: 0px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: transparent;
}
input:checked +.privacy-text .custom-checkbox {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}
input:checked + .privacy-text > .custom-checkbox{
    border-color: transparent;
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.span-privacy{
    color: rgba(77, 90, 229, 1);
    cursor: pointer;
    text-decoration:underline;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.04em;
    text-align: left;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy-text {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    text-align: left;
    color: #8e8f99;
    cursor: pointer;
}

.button-form-send {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(77, 90, 229, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    padding: 16px,
        32px,
        16px,
        32px;
    cursor: pointer;
    border-radius: 4px;
    font-family: "Roboto",sans-serif;
    height: 56px;
    min-width: 169px;
    border: none;
    display: block;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 16px;
    padding-right: 16px;
  }   
  .main-page{
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/BG\ Tablet.jpg);
  }
 .main-button{
    margin-bottom: 112px;
    margin-top: 36px;
 }
 .main-title{
font-size: 56px;
line-height: 1.07;
padding-top: 118px;
padding-left: 0;
    padding-right: 0;
 }
 .main-page > .container {
    max-width: 552px;;
 }

  .li-list-strategy {
    width: calc((100% - 24px) / 2);
    
    }
  .list-strategy {
    display: flex;
    gap: 24px
  }
  .title-strategy {
    text-align: start;
  }
  .text-strategy {
    font-size: 16px;
    line-height: 24px;
  }
.list {
    display: flex;
    
}
.portfolio-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:24px;
    /* row-gap: 72px; */
}
.container-option {
    margin-bottom: 72px;
}
.list > .container{
    max-width: 552px;
}
.li-portfolio-list{
    flex-direction: column;
    width: calc((100% - 24px) / 2);
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 2dppx),
(min-resolution: 192dpi) {
    .main-page {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/BG\ tablet\ 2x.jpg);

    }
}

.nav-list {
    display: flex;
}
.contact-list {
    flex-direction: column;
    display: flex;
    gap: 12px;
}
.menu-open {
    display: none;
}
.menu-modal.is-open {
    display: none;
}
.form-footer {
    display: flex;
    
}
.footer-block-items{
    gap: 24px;
}
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
    }
    .contact-list{
        flex-direction: row;
    }
    .main-page{
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/BG.jpg);
    }
    .main-title{
    font-size: 56px;
    line-height: 1.07;
    padding-top: 188px;
    }
    .main-button{
margin-top: 48px;
margin-bottom: 188px;
    }
    .list>.container {
            max-width: 1158px;
    }
    .container-benefits{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f4f4fd;
        border: 1px solid rgba(142, 143, 153, 1);
        border-radius: 4px;
        margin-bottom: 8px;
        width: 264px;
        height: 112px;
    }
    .list-strategy {
        display: flex;
        gap: 24px;  
        flex-wrap: nowrap;
    }
    .li-list-strategy {
        width: calc((100% - 48px) / 4)
    }
    .title-strategy {
        font-weight: 500;
        text-align: start;
        font-size: 20px;
    }
    .li-portfolio-list{
        width: calc((100% - 48px) / 3);
    }
    .foto-block {
        width: calc((100% - 48px) / 4);
    }
    @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
        .main-page {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/BG\ 2x.jpg);
        }
    }
        .nav-list {
            display: flex;
        }
    
        .contact-list {
            display: flex;
        }
        .footer-box{
            margin-right: 120px;
        }
        .list {
            gap: 24px;
            flex-wrap: nowrap;
        }
        .footer-block{
            align-content: flex-start;
        }
        .footer-block-items{ 
        align-items: center;
        gap: 0px;
        }
    .footer-box {
        margin-right: 120px
    }
        .footer-benefits-block{
            margin-right: 80px;
            
        }

}